/* Blog */
.blog{
  margin: 70px 30px 70px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.blog-list{
  width: 30%;
}
.blog-item-img img{
  width: 100%;
}

.blog-item-img img:hover{
  opacity: 60%;
  transition: .5s;
}

.blog-item-date{
  padding: 10px 0;
}

.blog-item-ttl{
  font-size: 20px;
  padding-bottom: 20px;
}


  @media screen and (max-width:768px) {
    .blog-list{
      width: 100%;
    }

}
