.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    left: 0;
    top: 0;
    position: sticky;
    background-color: #fff;
}

.header-ttl{
    font-size: 24px;
    width: 80px;
}

.header-nav-list{
    display: flex;
    font-weight: bold;
    z-index: 1;
}

.header-nav-item{
    margin-right: 30px;
}

.menu{
    display: none;
}

.drawer-nav{
    display: none;
}

/* Chatchcopy */
.chatchcopy{
    height: 550px;
    background-image: url("../img/mv.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chatchcopy-container{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.chatchcopy-title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}