/* News */
.news{
    margin-top: 20px;
    padding: 85px 5% 80px 5%;
}

.news-contents{
    margin-bottom: 10px;
}

.news-link{
    text-decoration: none;
    color: #292929;
    border: 1px solid #292929;
    display: flex;
    justify-content: left;
    padding: 20px 0px 20px 10px;
}

.news-link:hover{
    opacity: 60%;
    transition: .5s;
}


@media screen and (max-width:400px) {

    .news-link{
        font-size: 14px;
        padding: 10px 0px 10px 10px;
    }

}





