/* Service */
.service{
    /* margin-top: 100px; */
    margin: 100px auto;
}

.service-item-list{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
	border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item-list:last-child{
    border-bottom: 1px solid #222;
}

.service-img{
    width: 290px;
}

.service-item-sentence{
    width: calc(100% - 330px);
}

@media screen and (max-width:768px) {
    .service-img{
        width: 100%;
    }

    .service-item-sentence{
        width: 100%;
    }

}
